@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --purple: #8284FA;
    --purple-dark: #5E60CE;
    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;
    --gray-700: #0D0D0D;
    --gray-600: #1A1A1A;
    --gray-500: #262626;
    --gray-400: #333333;
    --gray-300: #808080;
    --gray-200: #D9D9D9;
    --gray-100: #F2F2F2;
    --danger: #E25858;
}

body {
    background: var(--gray-600);
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.header {
    background: var(--gray-700);
    padding: 82px 0;
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo-text {
    color: var(--blue);
    font-size: 40px;
    font-weight: 900;
}

.logo-text span {
    color: var(--purple-dark);
    font-size: 40px;
    font-weight: 900;
}

.container {
    max-width: 736px;
    width: 100%;
    margin: 0 auto;
}

.add-do {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: -25px;
}

#add-do__input {
    max-width: 638px;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-100);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

#add-do__input::placeholder {
    color: var(--gray-300);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

#add-do__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 90px;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
}

.tasks {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tasks-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-info__created {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasks-info__completed {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasks-info__created-text {
    color: var(--blue);
    font-size: 14px;
    font-weight: 700;
}

.tasks-info__completed-text {
    color: var(--purple);
    font-size: 14px;
    font-weight: 700;
}

.tasks-info__counter {
    padding: 2px 8px;
    border-radius: 999px;
    background: var(--gray-400);
    color: var(--gray-200);
    font-size: 12px;
    font-weight: 700;
}

.tasks-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 64px 24px;
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
}

.tasks-empty__text {
    color: var(--gray-300, #808080);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.tasks-empty__text p {
    font-weight: 400;
}

.tasks-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500, #262626);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
}

.tasks-list__item div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.tasks-list__item-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.tasks-list__item-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.tasks-list__item-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid var(--blue);
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.tasks-list__item-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.tasks-list__item-text {
    color: var(--gray-100);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}


.tasks-list__item-delete {
    background: transparent;
    border: none;
}